# dependencies
/node_modules

# next.js
/.next/
/out/

# cloudflare / opennext build output dan state lokal
/.open-next/
/.wrangler/

# env / secrets
.env*.local
.dev.vars

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*